@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        <div class="header">
            <div class="leftButton">
                  &nbsp;
            </div>
        </div>
       <p>
           dfghdgfhgdf v trr rdstzrzt rdst rzrdet
       </p> 
        <p>dzhtdfzh
        dthdtfh
        dtfhdfghghjgfjhgfj
        jhgjhfgjhfjhfj</p>
    </div>
</body>
</html>
