@model CarApp.Domain.Entities.Car


@{
    ViewBag.Title = "Megtekintés";
}

<style>
    div {
        margin: 0 0 10px 5px;
    }
    h2 {
        margin-bottom: 20px;
    }
</style>

<h2>@ViewBag.Title</h2>


<div>
    Licence Plate : @Model.LicencePlate

</div>
<div>
    <a href="@Url.Action("Index")">Vissza</a>
    <a href="@Url.Action("Edit", new { id = Model.Id })">Szerkesztés</a>
</div>

